@page "/about/usr"

<div class="container my-4" style="min-height: 600px;">
    <div class="container-fluid text-center text-white">
        <div class="row">
            <div class="row-md mt-3">
                <div class="USR-Title"><span><p>УПРАВЛЕНИЕ СОЦИАЛЬНОЙ РАБОТЫ</p></span></div>

                <div class="ChiefBlock">
                    <div class="ChiefColumnLeft">
                        <img class="ChiefPhoto" src="https://pimunn.ru/local/templates/.default/img/default-picture-for-user.jpeg" />
                        <p class="Text" style="text-align: center; font-size:20px;">Халитова<br>Ирина Сергеевна</p>
                    </div>

                    <div class="ChiefColumnRight">
                        <p class="Title" style="margin-top: 18px;">Начальник управления</p>
                        <span class="Text">
                            Кандидат педагогических наук, Почетный работник сферы образования Российской
                            Федерации, Обладатель Почетного «Золотого знака» Министерства по делам молодежи
                            РТ «За заслуги в реализации государственной молодежной политики Республики Татарстан»
                        </span>
                        <p class="Text">Телефон: +7 (843) 231-97-47</p>
                        <p class="Text">E-mail: ISKhalitova@kai.ru</p>
                    </div>
                </div>

                <p class="USR-Title" style="margin-top: 50px;">ФУНКЦИИ УПРАВЛЕНИЯ</p>
                <div class="Functons">
                    <div class="List">
                        <ul class="Text">
                            <li style="padding-bottom: 10px;">Организация внеучебной воспитательной деятельности университета</li>
                            <li style="padding-bottom: 10px;">Создание воспитательной среды вуза</li>
                            <li style="padding-bottom: 10px;">Создание условий для активной жизнедеятельности студентов, для гражданского самоопределения и самореализации, для максимального удовлетворения потребностей студентов в интеллектуальном, духовном, культурном и нравственном развитии</li>
                            <li>Содействие формированию ответственного отношения к образовательному процессу</li>
                        </ul>
                    </div>

                    <p class="FuncText">Управление осуществляет координацию деятельности структурных подразделений и общественных формирований, вовлеченных в воспитательный процесс университета, проводит постоянный педагогический мониторинг качества воспитательной работы в университете, институтах (факультете), отделениях СПО и филиалах</p>
                </div>

                <p class="USR-Title" style="margin-top: 50px">СТРУКТУРА УПРАВЛЕНИЯ</p>
                <div class="Structure">
                    <div class="Card1">
                        <img class="StructurePhoto" src="https://pimunn.ru/local/templates/.default/img/default-picture-for-user.jpeg" />
                        <p class="StructureFIO">Халитова<br>Ирина Сергеевна</p>
                        <p class="Text">Начальник управления социальной работы</p>
                        <p class="Text">+7 (843) 231-97-47, 16-47</p>
                        <p class="Text">ISKhalitova@kai.ru</p>
                    </div>

                    <div class="Card2">
                        <img class="StructurePhoto" src="https://pimunn.ru/local/templates/.default/img/default-picture-for-user.jpeg" />
                        <p class="StructureFIO">Фирумянц<br>Светлана Вячеславовна</p>
                        <p class="Text">Заместитель начальника управления</p>
                        <p class="Text">+7 (843) 231-97-47, 78-47	</p>
                        <p class="Text">SVFirumyants@kai.ru</p>
                    </div>

                    <div class="Card3">
                        <img class="StructurePhoto" src="https://pimunn.ru/local/templates/.default/img/default-picture-for-user.jpeg" />
                        <p class="StructureFIO">Зайцева<br>Евгения Витальевна</p>
                        <p class="Text">Начальник отдела<br>социальной поддержки и защиты обучающихся</p>
                        <p class="Text">+7 (843) 231-97-47, 7747</p>
                        <p class="Text">EVZaytseva@kai.ru</p>
                    </div>

                    <div class="Card4">
                        <img class="StructurePhoto" src="https://pimunn.ru/local/templates/.default/img/default-picture-for-user.jpeg" />
                        <p class="StructureFIO">Фаттахова<br>Маргарита Эдуардовна</p>
                        <p class="Text">Начальник отдела психологической<br>поддержки обучающихся</p>
                        <p class="Text">MEFattakhova@kai.ru</p>
                    </div>
                </div>

                <p class="USR-Title" style="margin-top: 50px">ФУНКЦИИ ОТДЕЛОВ</p>
                <div class="Departure">
                    <div class="Dep1">
                        <div class="Blueline"></div>
                        <div class="DepInfo">
                            <p class="DepTitle1">Отдел социальной поддержки и защиты обучающихся</p>
                            <ul style="padding-left: 50px;">
                                <li style="padding-bottom: 10px;">Организация социального обеспечения студентов-сирот</li>
                                <li style="padding-bottom: 10px;">Организация психологической поддержки студентов</li>
                                <li style="padding-bottom: 10px;">Организация и координация работы вуза с Фондом В. Потанина по стипендиальной программе</li>
                                <li style="padding-bottom: 10px;">Осуществление мониторинга студентов, относящихся к категории социально-незащищенных граждан</li>
                                <li style="padding-bottom: 10px;">Поддержка талантливой молодежи</li>
                                <li>Создание нормативной базы по социальной поддержке и стипендиальному обеспечению студентов</li>
                            </ul>
                        </div>

                    </div>

                    <div class="Dep2">
                        <div class="Greenline"></div>
                        <div class="DepInfo">
                            <p class="DepTitle2">Отдел психологической поддержки обучающихся</p>
                            <ul style="padding-left: 50px;">
                                <li style="padding-bottom: 10px;">Оказание консультативной, диагностической, коррекционной психологической помощи обучающимся в решении личных психологических проблем, актуализация внутренних резервов личности для преодоления кризисных и проблемных ситуаций, помощь в профориентации, саморазвитии</li>
                                <li style="padding-bottom: 10px;">Содействие в поддержании благоприятного социально-психологического климата в учебной группе, решении проблем межличностного общения</li>
                                <li style="padding-bottom: 10px;">Создание специальных адаптационных программ психологического сопровождения для обучающихся 1 курса</li>
                                <li style="padding-bottom: 10px;">Психологическая помощь несовершеннолетним и их семьям в экстремальных ситуациях</li>
                                <li style="padding-bottom: 10px;">Обеспечение индивидуального подхода к каждому обучающемуся</li>
                                <li style="padding-bottom: 10px;">Оказание комплексной социально-психологической поддержки всем субъектам образовательного процесса</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <p class="USR-Title" style="margin-top: 50px">ДОКУМЕНТЫ</p>
                <div class="Documents">
                    <div class="Doc" onclick="https://kai.ru/documents/11956846/12124733/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BE%D0%B1+%D0%A3%D0%A1%D0%A0+2022.pdf/19f48e64-11e1-446c-8455-9c72278d2270">
                        <div class="DocData">
                            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                            <p>Положение<br>об УСР</p>
                        </div>
                    </div>

                    <div class="Doc" onclick="https://kai.ru/documents/10181/1063726/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BE+%D0%BD%D0%B0%D1%81%D1%82%D0%B0%D0%B2%D0%BD%D0%B8%D0%BA%D0%B5+%D1%83%D1%87%D0%B5%D0%B1%D0%BD%D0%BE%D0%B9+%D0%B3%D1%80%D1%83%D0%BF%D0%BF%D1%8B+%281%29.pdf/2f2fbe71-ceaa-4c00-9ee1-50fcaea2fcca">
                        <div class="DocData">
                            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                            <p>Положение о<br>наставнике учебной группы КНИТУ-КАИ</p>
                        </div>
                    </div>

                    <div class="Doc" onclick="https://kai.ru/documents/11956846/12124733/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BE+%D0%BB%D1%83%D1%87%D1%88%D0%B5%D0%BC+%D0%BA%D1%83%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B5+2022.pdf/5c34a829-7c18-4420-9556-e6c5b336807e">
                        <div class="DocData">
                            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                            <p>Положение о<br>лучшем кураторе 2022 КНИТУ-КАИ</p>
                        </div>
                    </div>

                    <div class="Doc" onclick="https://kai.ru/documents/131969/0/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5+%D0%9A%D1%83%D1%80%D0%B0%D1%82%D0%BE%D1%80+2019.pdf/48f86cb9-b06b-44b6-b003-a0699110f697">
                        <div class="DocData">
                            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                            <p>Положение о<br>  кураторе учебной группы КНИТУ-КАИ</p>
                        </div>
                    </div>

                    <div class="Doc" onclick="https://kai.ru/documents/10181/1063726/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5+%D0%A1%D1%82%D1%83%D0%B4+%D1%81%D0%BE%D0%B2%D0%B5%D1%82+2021.pdf/95cf837e-566f-410f-a62f-cecf7fff5649">
                        <div class="DocData">
                            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                            <p>Положение<br>о студенческом совете КНИТУ-КАИ</p>
                        </div>
                    </div>

                    <div class="Doc" onclick="https://kai.ru/documents/11956846/12124733/%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7+%E2%84%961276-%D0%9E%2823176%29+%D0%9E+%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B8+%D0%BC%D0%BE%D0%BD%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D0%BD%D0%B3%D0%B0+%D0%B1%D0%B5%D0%B7%D0%BE%D0%BF%D0%B0%D1%81%D0%BD%D0%BE%D1%81%D1%82%D0%B8+%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9+%D1%81%D1%80%D0%B5%D0%B4%D1%8B.pdf/936d8bf5-91be-4823-ae90-d0f23ab72944">
                        <div class="DocData">
                            <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                            <p>Приказ о проведении<br>мониторинга безопасности образовательной среды</p>
                        </div>
                    </div>
                </div>

                <p class="USR-Title" style="margin-top: 50px">ПРОГРАММЫ И ПЛАНЫ</p>
                <div class="Programs">
                    <div class="Prog" onclick="https://kai.ru/documents/10181/5790826/%2B+%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0+%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9+%D0%BF%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B8+%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%BE%D0%B2.pdf/ea1a86dd-0c83-42cb-8b2e-d45675f26f27">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Программа социальной поддержки студентов в КНИТУ-КАИ</p>
                    </div>

                    <div class="Prog" onclick="https://kai.ru/documents/10181/1063726/%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0+%D0%BF%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B8+%D0%BD%D0%B0%D1%80%D0%BA%D0%BE%D1%82%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8.pdf/4ec08a1c-fdb9-41b1-9a8b-011fc1c34133">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Программа профилактики наркотизации</p>
                    </div>

                    <div class="Prog" onclick="https://kai.ru/documents/10181/1063726/%D0%A0%D0%9F+%D0%BF%D0%BE+%D0%92%D0%A0+-+2021.pdf/1590d7fd-0582-4cf9-87f2-c149e18deb65">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png"  />
                        <p>Рабочая программа воспитания в КНИТУ-КАИ (с 1 сентября 2021 года)</p>
                    </div>
                </div>

                <div class="Plans1">
                    <div class="Plan1" onclick="https://kai.ru/documents/131969/0/C_UsersEVZaytsevaDesktop%D1%81%D0%BA%D0%B0%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B50011.pdf/3533e83d-b37f-4db3-ab2b-3b93be44df6a">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Комплексный план внеучебной воспитательной работы со студентами на 2017-2018 учебный год</p>
                    </div>

                    <div class="Plan1" onclick="https://kai.ru/documents/10181/1063726/%D0%BF%D0%BB%D0%B0%D0%BD+18-19+%D1%83%D1%87.%D0%B3%D0%BE%D0%B4.pdf/87c16822-84e4-404d-8271-c9c822a3c57f">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Комплексный план внеучебной воспитательной работы со студентами на 2018-2019 учебный год</p>
                    </div>

                    <div class="Plan1" onclick="https://kai.ru/documents/10181/1063726/%D0%9F%D0%BB%D0%B0%D0%BD+%D0%BD%D0%B0+2019-2020+%D1%83%D1%87%D0%B5%D0%B1%D0%BD%D1%8B%D0%B9+%D0%B3%D0%BE%D0%B4.pdf/c0fc1785-656f-4abc-8890-42fa9b86058f">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Комплексный план воспитательной работы со студентами на 2019-2020 учебный год</p>
                    </div>

                    <div class="Plan1" onclick="https://kai.ru/documents/131969/0/%D0%9A%D0%BE%D0%BC%D0%BF+%D0%BF%D0%BB%D0%B0%D0%BD+20-21.pdf/d2bc2a0f-714e-4063-97f1-68959b23cdff">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Комплексный план воспитательной работы со студентами на 2020-2021 учебный год</p>
                    </div>
                </div>

                <div class="Plans2">
                    <div class="Plan2" onclick="https://kai.ru/documents/10181/1063726/%D0%9A%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81%D0%BD%D1%8B%D0%B9+%D0%BF%D0%BB%D0%B0%D0%BD+%D0%B2%D0%BE%D1%81%D0%BF%D0%B8%D1%82%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9+%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B+%D1%81%D0%BE+%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%B0%D0%BC%D0%B8+%D0%BD%D0%B0+2021-2022+%D1%83%D1%87%D0%B5%D0%B1%D0%BD%D1%8B%D0%B9+%D0%B3%D0%BE%D0%B4.pdf/1d78d213-4d86-4750-a2a0-8b274295d598">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Комплексный план воспитательной работы со студентами на 2021-2022 учебный год</p>
                    </div>

                    <div class="Plan2" onclick="https://kai.ru/documents/10181/1063726/%D0%9A%D0%BE%D0%BD%D1%86%D0%B5%D0%BF%D1%86%D0%B8%D1%8F+%D0%9A%D0%90%D0%98.pdf/4b4c4cc5-cae9-451f-b3d2-e1411ef98103">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Концепция воспитательной работы</p>
                    </div>

                    <div class="Plan2" onclick="https://kai.ru/documents/11956846/12124733/%D0%BF%D0%BB%D0%B0%D0%BD+22-23.pdf/dac85b27-c92b-4a68-b086-cd2f1c110d2b">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>Комплексный план воспитательной работы со студентами на 2022-2023 учебный год</p>
                    </div>

                    <div class="Plan2" onclick="https://kai.ru/documents/10181/1063726/%D0%BF%D0%BB%D0%B0%D0%BD+23-24.pdf/526fb111-b0c4-4d82-931e-15c371dc85f7">
                        <img class="DocImg" src="https://cdn-icons-png.flaticon.com/512/2991/2991108.png" />
                        <p>План работы Управления социальной работы на 2023/2024 учебный год</p>
                    </div>
                </div>

                <p class="USR-Title" style="margin-top: 50px">ОТЧЕТЫ</p>
                <div class="Reports">
                    <div class="Rep">
                        <img class="DocImg" src="https://avatars.mds.yandex.net/get-images-cbir/1585438/oDaWT9VwKAY4s8evGGh0iQ9018/ocr" \>
                        <p>Отчеты Управления Социальной Работы</p>
                    </div>
                </div>

                <p class="USR-Title" style="margin-top: 50px">КОНТАКТЫ</p>
                <div class="Contacts">
                    <p><strong>Адрес:</strong> г. Казань, ул. Четаева, 18А, 8-е учебное здание КНИТУ-КАИ, ауд. 416</p>
                    <p><strong>Телефон:</strong> +7 (843) 231-97-47</p>
                    <p><strong>E-mail:</strong> ISKhalitova@kai.ru</p>
                </div>
            </div>
        </div>
    </div>
</div>