@page "/about/charter"

<div class="container my-4 bg-secondary bg-opacity-50" style="min-height: 600px;">
    <div class="container-fluid text-center text-white">
        <div class="row">
            <div class="row-md mt-3">
                <h5>Правила внутреннего распорядка</h5>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis alias officiis qui, aspernatur a quo nulla, illum quam aliquid ratione libero. Distinctio facere incidunt suscipit. Modi neque soluta totam cupiditate.
                    Nemo numquam cumque nostrum itaque sed repellendus temporibus quaerat quidem nisi alias. Nemo sed, adipisci esse numquam dicta, atque repellat alias nihil libero praesentium harum ducimus voluptas consequuntur, cumque necessitatibus.
                    Sed doloremque laborum facere dolorum illum ab eveniet ipsa vero cumque, voluptas molestiae unde quibusdam corrupti fugiat commodi nulla aperiam nemo velit praesentium enim. Quod aperiam dolor sed architecto possimus!
                    Earum molestiae iste ipsa iusto sequi suscipit dolores provident est illo ad nihil, expedita eius quia voluptatum. Doloremque quis fugit iste maxime quod. Eaque minus commodi corporis eius quis porro?
                    Distinctio nostrum cum sequi ipsam placeat ea corporis, unde assumenda. Vitae repellat tempore ratione ipsa impedit debitis explicabo nihil, nam inventore harum autem optio doloribus. Delectus eaque vero eos voluptatibus?
                    Nesciunt exercitationem veniam inventore adipisci dolorem sapiente impedit, quasi quod blanditiis sint animi omnis doloremque hic corporis qui eveniet repudiandae architecto quis rerum quos nam assumenda facere! Sapiente, numquam dolores!
                    Molestiae saepe recusandae accusantium cum ipsum. Nisi ullam quo tempora ipsa natus dolores nostrum esse perferendis? Debitis architecto praesentium voluptatibus. Et porro rem vel earum voluptatem impedit cupiditate vero pariatur.
                    Ad vitae dolore, vero voluptas aspernatur eligendi totam pariatur quis ratione quae quia ea illo nam placeat nemo quo eius inventore cum error est necessitatibus quisquam! Consequuntur sed ad dolore?
                    Qui assumenda excepturi fugit odio ut sint blanditiis ullam provident tempore explicabo, recusandae maxime laborum ea autem mollitia reprehenderit quaerat modi placeat voluptatum ratione. Delectus sequi porro dolore saepe illo!
                    Explicabo aliquid vitae perspiciatis animi quae, incidunt natus fuga doloribus obcaecati numquam, corporis temporibus voluptates? Amet architecto deserunt eligendi, dolore quidem ipsam, dolorum deleniti aliquid consectetur, obcaecati unde velit corrupti.
                </p>
            </div>
        </div>
    </div>
</div>