<div id="modal-block">
    <div class="BlueCardStudent">
        <div class="WhiteCard">
            <div>
                <img src="~/Image.png" alt="" />
            </div>
            <div>
                <p class="CardTitle">СТУДЕНЧЕСКИЙ БИЛЕТ</p>
                <div>
                    <p class="CardText1">ФИО:</p>
                </div>
                <div>
                    <p class="CardText">Дата рождения:</p>
                </div>
                <div>
                    <p class="CardText">Подразделение:</p>
                </div>
                <div>
                    <p class="CardText">Группа:</p>
                </div>
                <div>
                    <p class="CardText">Телефон:</p>
                </div>
                <div>
                    <p class="CardText">Адрес:</p>
                </div>
                <div>
                    <p class="CardText">Email:</p>
                </div>
                    
                <div>
                    <Icon Type="close" Theme="outline" OnClick="() => NavigationManager.NavigateTo(BaseUri, true)" />
                </div>

                <img class="Print" src="C:\Users\Егор\OneDrive\Рабочий стол\печать кит.png" alt=""/>
            </div>
        </div>
    </div>
</div>