#modal-block {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 1000px;
    transition: all .5s;
    z-index: 9;
}

#modal-block:target {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
}

.close-block {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    /*padding: .5em;*/
    background-color: #fff;
    /*color: #527c82;*/
    color: red;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    box-sizing: border-box;
    /*margin-top:1500px;*/
}

.BackWhite {
    background-color: lightgray;
    width: 740px;
    height: 100%;
    /*margin-right:-650px;*/
    float: right;
    margin-right: -1480px;
}

.VisibleData {
    font-family: Montserrat Semibold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 40px;
}

.CloseX {
    position: absolute;
    margin-top: -50px;
    margin-left: 650px;
    color: red;
    cursor: pointer;
}

.BlueCardStudent {
    width: 565px;
    height: 310px;
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: darkblue;
    z-index: 1;
}

.WhiteCard {
    background-color: honeydew;
    border-radius: 10px;
    z-index: 0;
    width: 540px;
    height: 290px;
    margin: 10px 50px 10px 10px;
    display: grid;
    grid-template-columns: 360px 590px; /* Размеры столбцов */
    grid-template-rows: 630px 50px; /* Размеры строк */
    grid-gap: 40px;
}

.CardPhoto {
    margin: 25px 0px 0px 25px;
    width: 180px;
    height: 240px;
    float: left;
    grid-row: span 2;
}

.CardTitle {
    float: left;
    margin: 20px 0px 0px -170px;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: bold;
}

.CardText1 {
    margin-left: -170px;
    margin-top: 60px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Montserrat SemiBold;
}

.CardText {
    margin-left: -170px;
    margin-top: -7px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Montserrat SemiBold;
    z-index: 2;
}

.Print {
    transform: rotate(-30deg);
    width: 90px;
    height: 90px;
    margin-top: -165px;
    margin-left: -255px;
    z-index: 1;
}

/* Сведения о родителях */
.BlueCardParents {
    width: 565px;
    height: 310px;
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: darkblue;
    z-index: 1;
}

.WhiteCardParents {
    background-color: honeydew;
    border-radius: 10px;
    width: 540px;
    height: 290px;
    margin: 10px 50px 10px 10px;
}

.CardTitleParent {
    padding-top: 10px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.ParentInfo {
    margin-left: 25px;
    margin-top: -5px;
    font-size: 15px;
    letter-spacing: 1px;
}

.MotherCard {
    display: flex;
}

.MotherColumn1 {
    box-sizing: border-box;
    width: 25px;
    height: 90px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 25px;
    font-size: 15px;
    background-color: lightcoral;
    border-right: 5px solid;
    border-color: honeydew;
}

.MotherTitle {
    font-size: 15px;
    font-family: Montserrat SemiBold;
    transform: rotate(-90deg);
    margin-top: 45px;
}

.MotherColumn2 {
    box-sizing: border-box;
    background-color: lightcoral;
    width: 450px;
    border-radius: 0px 20px 20px 0px;
}

.MotherInfo1 {
    font-family: Montserrat SemiBold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 10px;
}

.MotherInfo {
    font-family: Montserrat SemiBold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 10px;
}

.MotherInfo3 {
    font-family: Montserrat SemiBold;
    margin-bottom: -5px;
}

.FatherCard {
    display: flex;
    margin-top: 25px;
}

.FatherColumn1 {
    box-sizing: border-box;
    width: 25px;
    height: 90px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 25px;
    font-size: 15px;
    background-color: cadetblue;
    border-right: 5px solid;
    border-color: honeydew;
}

.FatherTitle {
    font-size: 15px;
    font-family: Montserrat SemiBold;
    transform: rotate(-90deg);
    margin-top: 45px;
}

.FatherColumn2 {
    box-sizing: border-box;
    background-color: cadetblue;
    width: 450px;
    border-radius: 0px 20px 20px 0px;
}

.FatherInfo1 {
    font-family: Montserrat SemiBold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 10px;
}

.FatherInfo {
    font-family: Montserrat SemiBold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 10px;
}

.FatherInfo3 {
    font-family: Montserrat SemiBold;
    margin-bottom: -5px;
}