#modal-block {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 1000px;
    transition: all .5s;
    z-index: 9;
}

#modal-block:target {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
}

/* Фон модального окна */
.BackWhite {
    background-color: #d0d0e0;
    width: 650px;
    height: 100%;
    float: right;
    margin-right: -1480px;
}

/* Затемнение страницы вне модального окна */
.Blackout {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 1140px;
    margin-left: -90px;
    margin-top: -1000px;
}

/* Заголовок модального окна "Просмотр студента" */
.VisibleData {
    font-family: Montserrat Semibold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 40px;
}

/* Кнопка "Х" для закрытия модального окна */
.close-block {
    position: absolute;
    margin-top: -50px;
    margin-left: 570px;
    color: #e40000;
    cursor: pointer;
}

/* Линия-разделитель */
.Line {
    width: 260px;
    height: 3px;
    background-color: black;
    z-index: 2;
    margin-top: -15px;
}
/* Синее обрамление студенческого билета */
.BlueCardStudent {
    width: 565px;
    height: 310px;
    float: right;
    margin-right: 5px;
    margin-top: 25px;
    border-radius: 10px 0px 0px 10px;
    background-color: darkblue;
    z-index: 1;
}

/* Белый фон внутри студенческого билета */
.WhiteCard {
    background-color: honeydew;
    border-radius: 10px;
    z-index: 0;
    width: 540px;
    height: 290px;
    margin: 10px 50px 10px 10px;
    display: grid;
    grid-template-columns: 360px 590px;
    grid-template-rows: 630px 50px;
    grid-gap: 40px;
}

/* Фото студента 3 на 4 */
.CardPhoto {
    object-fit: cover;
    margin: 25px 0px 0px 25px;
    width: 180px;
    height: 240px;
    float: left;
    grid-row: span 2;
}

/* Надпись "Студенческий билет" */
.CardTitle {
    float: left;
    margin: 20px 0px 0px -170px;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: bold;
}

/* Строка ФИО */
.CardText1 {
    margin-left: -170px;
    margin-top: 60px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Montserrat SemiBold;
}

/* Данные студента ФИО */
.DataStudent1 {
    font-family: Montserrat;
    font-size: 15px;
    margin-left: -115px;
    margin-top: -38px;
}

/* Данные студента Дата рождения */
.DataStudent2 {
    font-family: Montserrat;
    font-size: 15px;
    margin-left: -20px;
    margin-top: -38px;
}

/* Данные студента Подразделение */
.DataStudent3 {
    font-family: Montserrat;
    font-size: 15px;
    margin-left: -15px;
    margin-top: -38px;
}

/* Данные студента Группа */
.DataStudent4 {
    font-family: Montserrat;
    font-size: 15px;
    margin-left: -95px;
    margin-top: -38px;
}

/* Данные студента Телефон */
.DataStudent5 {
    font-family: Montserrat;
    font-size: 15px;
    margin-left: -80px;
    margin-top: -38px;
}

/* Данные студента Адрес */
.DataStudent6 {
    font-family: Montserrat;
    font-size: 15px;
    margin-left: -100px;
    margin-top: -38px;
}

/* Данные студента Email */
.DataStudent7 {
    font-family: Montserrat;
    font-size: 15px;
    margin-left: -105px;
    margin-top: -38px;
}

/* Строки с данными студента */
.CardText {
    margin-left: -170px;
    margin-top: -7px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Montserrat SemiBold;
    z-index: 2;
}

/* Печать подразделения (факультета) */
.Print {
    transform: rotate(-30deg);
    width: 90px;
    height: 90px;
    margin-top: -165px;
    margin-left: -275px;
    z-index: 1;
}

/* Сведения о родителях */
.BlueCardParents {
    width: 565px;
    height: 310px;
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: darkblue;
    z-index: 1;
}

/* Белый фон карточки с родителями */
.WhiteCardParents {
    background-color: honeydew;
    border-radius: 10px;
    width: 540px;
    height: 290px;
    margin: 10px 50px 10px 10px;
}

/* Заголовок "Сведения о родителях" */
.CardTitleParent {
    padding-top: 10px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
}

/* Карточка "Мать" */
.MotherCard {
    display: flex;
}

/* Ячейка с заголовком "Мать" */
.MotherColumn1 {
    box-sizing: border-box;
    width: 25px;
    height: 90px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 25px;
    font-size: 15px;
    background-color: lightcoral;
    border-right: 5px solid;
    border-color: honeydew;
}

/* Заголовок "Мать" */
.MotherTitle {
    font-size: 15px;
    font-family: Montserrat SemiBold;
    transform: rotate(-90deg);
    margin-top: 45px;
}

/* Ячейка с информацией о матери студента */
.MotherColumn2 {
    box-sizing: border-box;
    background-color: lightcoral;
    width: 450px;
    border-radius: 0px 20px 20px 0px;
}

/* Строка ФИО матери */
.MotherInfo1 {
    font-family: Montserrat Semibold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 10px;
}

.ParentData1 {
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -39px;
    margin-left: 65px;
}

/* --- */

/* Строка Телефон матери */
.MotherInfo {
    font-family: Montserrat SemiBold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 10px;
}

.ParentData2 {
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -39px;
    margin-left: 100px;
}

/* --- */

/* Строка Место работы матери */
.MotherInfo3 {
    font-family: Montserrat SemiBold;
    margin-bottom: -5px;
}

.ParentData3 {
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -24px;
    margin-left: 150px;
    margin-bottom: -5px;
}

/* --- */

/* Карточка "Отец" */
.FatherCard {
    display: flex;
    margin-top: 25px;
}

/* Ячейка с заголовком "Отец" */
.FatherColumn1 {
    box-sizing: border-box;
    width: 25px;
    height: 90px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 25px;
    font-size: 15px;
    background-color: cadetblue;
    border-right: 5px solid;
    border-color: honeydew;
}

/* Заголовок "Отец" */
.FatherTitle {
    font-size: 15px;
    font-family: Montserrat SemiBold;
    transform: rotate(-90deg);
    margin-top: 48px;
}

/* Ячейка с данными отца студента */
.FatherColumn2 {
    box-sizing: border-box;
    background-color: cadetblue;
    width: 450px;
    border-radius: 0px 20px 20px 0px;
}

/* Строка ФИО отца */
.FatherInfo1 {
    font-family: Montserrat SemiBold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 10px;
}

.ParentData4 {
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -38px;
    margin-left: 65px;
}

/* --- */

/* Строка Телефон отца */
.FatherInfo {
    font-family: Montserrat SemiBold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 10px;
}

.ParentData5 {
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -38px;
    margin-left: 100px;
}

/* --- */

/* Строка Место работы отца */
.FatherInfo3 {
    font-family: Montserrat SemiBold;
    margin-bottom: -5px;
}

.ParentData6 {
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: -23px;
    margin-left: 150px;
    margin-bottom: -5px;
}

/* --- */