<ul class="nav nav-pills nav-fill bg-secondary bg-opacity-50">
    <li class="nav_button">
        <button style="box-shadow: none" class="btn dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="mt-1" xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px" fill="#FFFFFF">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 15h18v-2H3v2zm0 4h18v-2H3v2zm0-8h18V9H3v2zm0-6v2h18V5H3z" />
            </svg>
        </button>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/about/universityt">О КАИ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/about/usr">ОБ УСР</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/about/mainevents">ОСНОВНЫЕ МЕРОПРИЯТИЯ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/about/charter">ПРАВИЛА ВНУТРЕННЕГО РАСПОРЯДКА</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/about/socialsupport">СОЦИАЛЬНАЯ ПОДДЕРЖКА СТУДЕНТОВ</a>
    </li>
</ul>
@code {

}
